
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;

  padding: 0px;
  margin: 0px;
  overflow: scroll;
}
.initDisplay {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
  /* background: linear-gradient(#f9604f, #db311e, #f28e37); */
}
.menu {
  /* background-color: #333; */
  margin: 0;
  padding: 0;
}



nav a:hover {
  /* background-color: #555; */
}
.box {

  display: block;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  /* border: 5px solid black; */


}
.header {
  width: 100%;
  height: 50px;
  /* background-color: blue; */
  text-align: center;
  font-size: 28px;
  color: white;
  display: block;

  vertical-align: middle;
}

/* .courses {
  background: linear-gradient(#f28e37, #f77d13, #f9e66b);
}
.LC {
  background: linear-gradient(#f9e66b, #efd945, #549b4c);
}
.news {
  background: linear-gradient(#549b4c, #31a024, #4971b7);
}
.money {
  background: linear-gradient(#4971b7, #315491, #6d4bbc);
}
.resources {
  background: linear-gradient(#6d4bbc, #3b1f7c, #a635b7);
} */

.infoBox {
  width: 85%;
  /* height: 20%; */
  background-color: #353538;
  display: block;
  margin: auto;
  border-radius: 8px;
  margin-top: 5px;
  padding: 1px;
  color : white;
}
.header2 {
  width: 90%;
  height: 25px;
  /* background-color: orange; */
  font-size: 100%;
  color: white;
  display: block;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}
.large {
  /* height: 25%; */
}
.switchTable {
  width: 100%;

  text-align: center;
  border-collapse: collapse;
  padding: 5px;
  font-size: 15px;
  }
  .switchTable tr td {
    border: 1px solid #656c77;
    max-width: 0px;
  }

  .openRooms {
    /* background-color: red; */
    list-style-type: none;
    width: 100%;
    display:block;
    margin-top: 25px;
  }
  .openRooms li {
    /* text-align: center; */
    /* width: 100%; */

    /* border: 5px solid black; */

  }
  .newsBox {
    width: 90%;
    height: 60%;
    background-color: grey;
    display: block;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    padding: 3px;
  }
  .imgHolder {
    width: 95%;
    height: 60%;
    background-color: black;
    display: block;
    margin: auto;
  }
  .textHolder {
    width: 95%;
    display: block;
    margin: auto;
    font-size: 12px;
  }
  .newsMore {
    width: 90%;
    height: 10%;
    background-color: #26a4ff;
    display: block;
    margin: auto;
    font-size: 25px;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin-top: 25px;
    outline: none;
  }
  .newsMore:active {
    background-color: #116bad;
  }

  .classHolder {
    width: 100%;
    position: absolute;
    height: 40px;
    display: block;

  }
  .classHolder ul {
    list-style-type: none;
    margin: 0px;
    height: 100%;
    display: flex;
    font-size: 9.5px;
    padding: 0;
  }
  .classHolder li {
    flex: 1 1 0;
    text-align: center;
    /* height: 100px; */
    background: linear-gradient(#bbb, #555);

    border-bottom: 2px solid black;
    padding: 12px;
    color: white;
  }
  .classHolder .liHover {
    background: linear-gradient(#555, #bbb);
    border-bottom:0px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    color: #ddd;
  }
  .resourceBox {
    width: 100%;
    height: 60%;

    background-color: white;
    border-radius: 5px;
    position: relative;
    top: 40px;
    display: none;
    opacity: 0.5;
  }
  .submitAssigned {
    width: 80%;
    height: 7%;
    background-color: #26a4ff;
    cursor: pointer;
    display: block;
    margin: auto;
    font-size: 15px;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin-top: 15px;
    outline: none;
  }
  .submitAssigned:active {
    background-color: #116bad;
  }
  .addMore {
    margin-top: 50px;
  }
  .allHomework {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 105%;
    background-color: white;
    border-radius: 10px;
    display: none;
  }
  #x {
    position: absolute;
    right : 15px;
    top: 15px;
  }
  .modalHolder {
    width: 100%;
    position: absolute;
    top: 35px;
    height: 40px;
    display: block;
  }
  .modalHolder ul {
    list-style-type: none;
    margin: 0px;
    height: 100%;
    display: flex;
    font-size: 9.5px;
    padding: 0;
  }
  .modalHolder li {
    flex: 1 1 0;
    text-align: center;
    /* height: 100px; */
    background: linear-gradient(#bbb, #555);

    border-bottom: 2px solid black;
    padding: 12px;
    color: white;
  }
  .modalHolder .liHover {
    background: linear-gradient(#555, #bbb);
    border-bottom:0px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    color: #ddd;
  }
  .modalBox {
    width: 100%;
    display: none;

    position: absolute;

    top: 75px;
  }
  .display {
    display: block;
  }
  .block {
    color: black;
    font-size: 90px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .colors {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(#f28e37, #f77d13, #f9e66b);
    z-index: -1;
  }

  .calendar {
    width: 95%;

    height: auto;

    display: block;
    margin: auto;
    margin-top: 30px;
  }
  .shownCalendar {


    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
  }
  .shownCalendar tr td {
    border: 2px solid black;
    width: 14.2857%;
    height: 60px;
  }
  .shownCalendar tr th {
    background-color: #fc4f3c;
    height: 40px;
    border: 2px solid black;
  }
  .currentMonth {
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-bottom: 5px;
  }
  .event {
    position: absolute;
    color: blue;
  }

  .hover {
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 60px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    left:-60px;
    display:none;
    width: 150px;

  }
  .hover::before{
      content:'';
      position:absolute;
      bottom:-10px;
      width:10px;
      height:10px;
      border-bottom:5px solid #dfdfdf;
      border-right:5px solid #dfdfdf;
      background:#f8f8f8;
      left:50%;
      margin-left:-10px;
      -moz-transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
      transform:rotate(45deg);
      z-index:0;
  }
  .left {
    left: -10px;
  }
  .left::before {
    left : 10%;
  }
  .right {
    left: -110px;
  }
  .right::before {
    left: 90%;
  }
  .event{

      float:left;
      position:relative;
      cursor:pointer;
  }

  .event:hover .hover{
      display:block;
  }
  .menuIcon {
    width: 35px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 15px;
    /* background-color: black; */

    border-radius: 3px;
    z-index: 16;
  }
  .line1, .line2, .line3 {
    width: 28px;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 2px;
    transition: 0.4s;
  }
  .change .line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 0px);
    transform: rotate(-45deg) translate(-9px, 0px);
  }
  .change .line2 {
    opacity: 0;
  }
  .change .line3 {
    -webkit-transform: rotate(45deg) translate(-10px, 0px);
    transform: rotate(45deg) translate(-10px, 0px);
  }


  nav {
    position: fixed;
    top:-250px;
    width: 100%;
    z-index: 15;
    transition: 0.8s;
  }


  .holder {
    list-style-type: none;
    padding: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 0px;
    font-size: 20px;
    transition: padding 0.8s;

  }

  nav a:active {
    /* background-color: #555; */
    background: linear-gradient(#444, #333);
  }
  nav .item {
    width: 100%;


    background: linear-gradient(#333, #444);
  }

  .expanded .item {

  }
  .expanded a {
    padding: 15px;

  }
  .expand {
    top: -20px;
  }


  @media screen and (max-width: 320px) {
    .infoBox {
      padding: 3px;
      margin-top: 8px;
      width: 90%;
    }
    .header {
      height: 30px;
      font-size: 23px;
    }
    .submitAssigned {
      height: 8%;
      margin-top: 5px;
    }

    .courses {
      font-size: 13px;
    }
    .switchTable {
        font-size: 13px;
    }
    .header2 {
      font-size: 15px;
    }

    .block {
      font-size: 70px;
    }
    .shownCalendar tr td {
      height: 50px;
      font-size: 14px;
    }
    .calendar {
      margin-top: 10px;
    }
  }
